.myOrders-wrap h3 {
  margin: 4.167rem 0;
  font-size: 2.167rem;
  font-weight: 600;
}

.myOrders-wrap-list {
  border: 2px solid #fafafa;
  border-radius: 0.833rem;
}

.myOrders-wrap-list-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.667rem;
  font-size: 18px;
  font-weight: 500;
}

.myOrders-wrap-list-title > li:last-child span {
  color: #32ca88;
  cursor: pointer;
}

.myOrders-wrap-list-title span {
  color: #bfbfbf;
  margin: 0 1rem;
  font-size: 2rem;
}

.myOrders-wrap-list-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.667rem 1.667rem;
}

.myOrders-wrap-list-content > p {
  color: #bfbfbf;
  font-size: 1.5rem;
}

.myOrders-wrap-list-content > p > span {
  font-size: 1.5rem;
  color: #32ca88;
  margin-left: 0.5rem;
}

.myOrders-wrap-list-content > p span.completed {
  color: #bfbfbf;
}

.myOrders-wrap-list-footer {
  height: 3.917rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  font-size: 1.667rem;
  font-weight: 600;
  border-bottom-left-radius: 0.833rem;
  border-bottom-right-radius: 0.833rem;
  background-color: #32ca88;
  color: #fff;
}

.myOrders-wrap-list-footer > li:last-child {
  cursor: pointer;
}

.myOrders-wrap-list ul.footer-completed {
  color: #7c7c7d;
  background-color: rgba(232, 232, 232, 0.3);
}

.myOrders-wrap-list ul.footer-completed > li:last-child {
  color: #32ca88;
  cursor: pointer;
}

.myOrders-wrap-list ul.title-completed {
  color: #7c7c7d;
}

.myOrders-wrap-list ul.title-completed > li:last-child {
  color: #7c7c7d;
  cursor: pointer;
}
