.myOrders-wrap {
  font-size: 2.167rem;
  font-weight: 600;
}

.myOrders-wrap h3 {
  margin: 4.167rem 0;
}

.myOrders-wrap-list {
  border: 2px solid #fafafa;
  border-radius: 10px;
}

.myOrders-wrap-list-footer {
  height: 47px;
  padding: 1rem 2rem;
  background-color: #32ca88;
  color: #fff;
}
