.helpCenter > li:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.helpCenter li > span {
  font-size: 1.667rem;
  font-weight: 600;
}

.helpCenter-call {
  font-size: 2.167rem;
  font-weight: 500;
}

.helpCenter-call > span {
  margin-left: 1rem;
}
