@import './global.less';
.iconFill{//描边
    color:#fff !important;
    font-size:1.8rem;
}
.homePageIconFill{//填充
    color:@theme-color !important;
    font-size:5rem;
}
svg{
    stroke: @theme-color;
    stroke-width: 2.5px;
}

.themeColor{
    color: @theme-color !important;
}