.orderDetailsList-wrap{
    >ul{
        >li{
            display: flex;
            align-items: center;
            justify-content: space-between;
            >ul:first-child{ // 加减数量
                width: 30%;
                padding-right: 1.5rem;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            >div{
            }
        }
    }
}